%table.center-wrapper
  %tbody
    %tr
      %td
        .center.credits-wrapper
          .credits
            POMYSŁODAWCA I OPIEKUN PROJEKTU
            %br
            Krzysztof Hoffmann
            %br
            %br
            TEKST
            %br
            Anna Bartkowiak (teatr - część urojona)
            %br
            Maciej Chwaliński (pasmanteria - część rzeczywista i urojona)
            %br
            Piotr Langowski (intro)
            %br
            Mateusz Masłowski, Maciej Niparko (mieszkanie Szymona - część rzeczywista i urojona)
            %br
            Patryk Pawłowski (restauracja - część rzeczywista)
            %br
            Olga Rybacka (park - część rzeczywista i urojona)
            %br
            Asia Sikorska (teatr - część rzeczywista)
            %br
            Julia Szczęsna (restauracja - część urojona)
            %br
            Krzysztof Wojciechowski (uniwersytet - część rzeczywista i urojona)
            %br
            %br
            ILUSTRACJE
            %br
            Grzegorz Dziubiński
            %br
            %br
            KOMPUTEROWA OBRÓBKA GRAFIKI
            %br
            Hanna Rzepczyńska
            %br
            %br
            REALIZACJA
            %br
            Olga Rybacka
            %br
            %br
            %a{:href => "/"} POWRÓT DO MENU
    
